/* General styling */
/* Breakpoints are 25em, 43em, 51em and 62em */
:root {
  --primary-colour: #008800;
  --primary-contrast-colour: #fefefe;
  --secondary-colour: #D3D3D3;
  --secondary-contrast-colour: black;
  --adjacent-colour: #006666;
  --opacity: 100%;
  --hover-opacity: 70%;
}

@font-face {
  font-family: "DSEG7 Classic";
  src:  local("DSEG7 Classic"),  local("DSEG7-Classic"), url("../fonts/dseg/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:  local(Roboto), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: local(Roboto Mono), local(Roboto-Mono), url("../fonts/RobotoMono/static/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button { all: unset; }

h1, h2 { font-weight: normal; }

a:link, a:visited {
  text-decoration: none;
  color: var(--adjacent-colour);
}

.max-width { width: 100%; }
@media (width > 62em) {
  .max-width { margin-right: 2em; }
}

@media (width > 62em) {
  .large-row {
    display: flex;
    flex-direction: row;
  }
}

.right { margin-left: auto; }

.mono { font-family: "Roboto Mono", monospace; }

/* Switches */
.switch input {  /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.slider {
  position: relative;
  display: inline-block;
  background-color: var(--secondary-colour);
  border-radius: 0.5em;
  height: 0.5em;
  transition: .2s;
  vertical-align: middle;
  -webkit-transition: .2s;
  width: 1.75em;
}
.slider:before {
  background-color: var(--primary-colour);
  border-radius: 50%;
  bottom: 0.375em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  content: "";
  display: inline-block;
  height: 1.25em;
  position: relative;
  transition: .2s;
  width: 1.25em;
  -webkit-transition: .2s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(0.5em);
  transform: translateX(0.5em);
}
.slider:hover { opacity: var(--hover-opacity); }



/* Page structure */
@media (width < 25em) {
  html {
    font-size: 0.8em;
  }
}

body {
  font-family: "Roboto", sans-serif;

  /* Make the body take up the length of the page so that the footer can sit at the bottom */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primary-colour);
  color: var(--primary-contrast-colour);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

main {
  font-size: 1.25em;

  /* Make the main contents sit in the centre of the page */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  /* Allow the main section to take up the length of the page so that the footer can sit at the bottom */
  margin-bottom: auto;
}

@media (width > 43em) {
  main {
    width: 80%;
  }
}



/* Component styling */
/* Header */
header h1 {
  margin: 0;
  padding: 0.375em 0.375em 0.375em 0.75em;
}


/* Prediction */
main h1 {
  position: sticky;
  top: 10px;
  background-color: white;
  z-index: 1;
}

#tandaH1 {
  vertical-align: top;
  font-size: xx-large;
}

#tandaPrediction {
  font-family: "DSEG7 Classic", monospace;
  font-size: xxx-large;
}


/* Predictor */
.slider-controls {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

/* Sliding ranges */
input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: var(--secondary-colour);
  height: 0.25em;
  margin: 1em 0;
  opacity: var(--opacity); /* Set transparency (for mouse-over effects on hover) */
  outline: none;
  width: 100%;
}
input[type=range]:hover { opacity: var(--hover-opacity); }
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2em;
  height: 2em;
  background:  var(--primary-colour);
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background:  var(--primary-colour);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Floating buttons */
.btn-slider {
  background-color: var(--primary-colour);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-sizing: border-box;
  color: var(--primary-contrast-colour);
  display: inline-block;
  font-size: 1.25em;
  height: 2em;
  line-height: 2em;
  opacity: var(--opacity); /* Set transparency (for mouse-over effects on hover) */
  position: relative;
  text-align: center;
  touch-action: manipulation; /* Allow the slider buttons to be hammered without mobile 300ms click delay kicking in */
  user-select: none;
  width: 2em;
}
.btn-slider:hover { opacity: var(--hover-opacity); }
.chevron {
  display: block;
  height: 75%;
  width: 100%;
  fill: var(--primary-contrast-colour);
}


/* Tanda space */
#tandaGraph {
  aspect-ratio: 16/9;
  margin-top: 2em;
}
@media (width > 62em) {
  #tandaGraph {
    width: 70%;
  }
}

.guide {
  stroke: var(--secondary-colour);
  stroke-width: 2;
}

.guide-label {
  fill: var(--secondary-colour);
  font-size: 0.7em;
}

.tanda-point {
  fill: var(--primary-colour);
}

.tanda-line {
  stroke: var(--primary-colour);
  fill: none;
}

.tanda-label {
  fill: var(--primary-colour);
  font-size: 0.75em;
  text-anchor: end;
}


/* Auxiliary */
#weeklyDistanceSpan { white-space: pre; }

#weeklyPaceRange { direction: rtl; }

@media (width > 62em) {
  #prediction-text {
    padding-left: 2em;
    width: 30%;
  }
}

/* Splits table */
table {
  text-align: right;
}

thead {
  background-color: var(--primary-colour);
  color: var(--primary-contrast-colour);
}

tbody > tr:nth-of-type(even) {
  background-color: var(--secondary-colour);
}

td, th {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.split {font-family: monospace;}

.split-column {width: 3.5em;}

.marker-column {width: 3.1em;}

.spacing-column {background-color: white}

#marathon-splits {margin-top: 2em;}

@media (width <= 51em) {
  table {
    font-size: 75%;
    width: 100%;
  }
  .marker-header {font-size: 0;}
  .spacing-column {display: none}
}


/* Footer */
footer {
  /* Get the footer to sit at the bottom of the page */
  background-color: var(--secondary-colour);
  bottom: 0;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  margin-top: 2em;
  position: relative;
}

#footer-content {
  /* Make the main contents sit in the centre of the page */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  /* Allow the main section to take up the length of the page so that the footer can sit at the bottom */
  margin-bottom: auto;
}
@media (width > 43em) {
  #footer-content {
    width: 70%;
  }
}

.external-icon {
  height: 3em;
}

.spotify-logo {
  stroke-width: 0;
  height: 1.3em;
  width: 1.3em;
  fill: black;
  margin: 0.52em;
}

#footer-boilerplate {
  font-size: small;
  text-align: right;
}

footer h2 { margin-bottom: 0; }
footer ul { margin-top: 0; }

@media not all and (display-mode: browser) {
  #install-prompt {
    display: none;
  }
}
